* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --Scissors-Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
    --Paper-Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
    --Rock-Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
    --Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
    --Cyan : hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
    --Radial-Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: rgb(31,55,86);
    background: radial-gradient(circle, rgba(31,55,86,1) 0%, rgba(20,21,57,1) 100%);
}

/* Start header */

.overlay {
    position: absolute;
    background-color: rgba(0 , 0 , 0 , .4);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.parent {
    height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.parent header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid#ffffff4d;
    border-radius: 10px;
}

.parent header .score {
    padding: 20px;
    background-color: #fff;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

.parent header .score p {
    color: var(--Score-Text);
    font-size: 20px;
    margin: 0;
}

.parent header .score h1 {
    color: var(--Dark-Text);
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}

@media (max-width:425px) {
    .parent header img {
        width: 100px;
    }
    .parent header .score {
        width: 120px;
    }
    .parent header .score h1 {
        font-size: 40px;
    }
}

@media (max-width:375px) {
    .parent header img {
        width: 70px;
    }
    .parent header .score {
        transform: scale(.8)
    }
}

/* End header */
/* Start Section */

.parent section {
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parent section .scissors-paper {
    display: flex;
}

.parent section .paper,
.parent section .scissors ,
.parent section .rock {
    margin: 40px 40px 0 40px;
    border-width: 20px;
    border-style: solid;
    border-radius: 50%;
    position: relative;
}

.parent section .paper {
    border-color: rgb(72,101,244);
}

.parent section .scissors {
    border-color: rgb(236,158,14);
}

.parent section .rock {
    border-color: rgb(220,46,78);
}

.parent section img {
    padding: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.parent section .scissors-paper .paper:after {
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
    display: var(--display)
}

.parent section .scissors-paper .paper::before {
    bottom: 0;
    transform: rotate(-300deg) translateX(50%);
}

.parent section .scissors-paper .paper:after ,
.parent section .scissors-paper .scissors:after ,
.parent section .scissors-paper .paper::before {
    content: '';
    position: absolute;
    background-color: rgba(0 , 0 , 0 , .4);
    height: 20px;
    width: 100%;
    z-index: -1;
    display: var(--display);
}

.parent section .scissors-paper .scissors:after {
    bottom: 0;
    left: 0;
    transform: rotate(300deg) translateX(-50%);
    display: var(--display);
}

.parent section .footer {
    padding: 10px;
    margin-top: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 150px;
    color: white;
    text-align: center;
    align-self: flex-end;
    text-transform: uppercase;
    cursor: pointer;
}

.rules {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1000;
    display: none;
}

.rules .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.rules .head {
    margin-bottom: 30px;
}

.rules .head p {
    margin: 0;
    text-transform: uppercase;
    font-size: 32px;
}

.rules .head i {
    font-size: 32px;
    color: var(--Header-Outline);
    cursor: pointer;
}

section .in-game {
    display: flex;
    align-items: center;
    gap: 100px;
}

section .in-game .your-pick {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .in-game .win {
    display: none;
}

section .in-game .win p {
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

section .in-game .win .play-again {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    transition: .3s;
}

section .in-game .win .play-again:hover {
    color: red;
}

section .in-game .computer-pick {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .in-game .your-pick p ,
section .in-game .computer-pick p {
    color: #fff;
    font-size: 20px;
    margin: 0 0 50px 0;
    text-transform: uppercase;
}

@media (max-width:850px) {
    section .in-game {
        gap: 30px;
    }
}

@media (max-width:767px) {
    .parent section img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width:670px) {
    .parent section {
        transform: scale(.9);
    }
}

@media (max-width:600px) {
    .parent section {
        transform: scale(.7);
    }
    .parent section .footer {
        align-self: center;
        transform: scale(1.5);
    }
}

@media (max-width:425px) {
    .parent section {
        transform: scale(.5);
    }
    .parent section .footer {
        transform: scale(1.5)
    }
}

@media (max-width:320px) {
    section .in-game {
        gap: 0;
    }
} 

@media (max-width:300px) {
    .parent section {
        transform: scale(.4);
    }
}

@media (max-width:470px) and (min-width:321px) {
    section .in-game {
        gap: 4px;
    }
}

/* End Section */
/* JS */

@keyframes spread {
    to {
        box-shadow: 0px 0px 0 100px rgba(0 , 0 , 0 , .1);
    }
}